:root{
  /*-- light mode colors --*/
  --gitHubOceanBlue:#0079ff;
  --gitHubGray:#697c9a;


  --gitHubLightBlue:#60abff;

  /*-- dark mode colors --*/
  --gitHubText:#ffffff;
  --gitHubBG:#141d2f;
  --gitHubElementColor:#1e2a47;
}
.light-mode{
  --gitHubOceanBlue:#0079ff;
  --gitHubLightBlue:#60abff;
  --gitHubText:#4b6a9b;
  --gitHubElementColor:#FEFEFE;
  --gitHubBG:#f6f8ff;
}
body{
  color:var(--gitHubText);
  font-family: "Space Mono";
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--gitHubBG);
}
.h1,.h2{
  font-weight: bold;
}
.h3,.h4{
  font-weight: 400;
}
.h1{
  
  font-size: 26px;
  line-height: 38px;
}
.h2{
  font-size: 22px;
  line-height: 33px;
}
.h3{
  line-height: 24px;
  font-size: 16px;
}
.h4{
  line-height: 20px;
  font-size: 13px;
}
/*-- search button --*/
.searchBtn{
  color: #ffffff;
  padding: 0.4rem 1rem;
  background-color: var(--gitHubOceanBlue);
  border-radius: 8px;
  transition: 0.3s;
}
/* .searchBtn:active,.searchBtn:focus */

.searchBtn:hover{
  background-color: var(--gitHubLightBlue);
}

/*-- dark and light mode button --*/
.modeToggle{
  transition: 0.3s;
}
.modeToggle:hover,.modeToggle button svg:hover{
  color: var(--gitHubText);
}
/*-- search bar --*/
.searchBar{
  background-color: var(--gitHubElementColor);
  border-radius: 10px;
}
.searchInput{
  background-color: var(--gitHubElementColor);
  outline: none;
}
/*-- search bar --*/
.searchInput{
  width: 15%;
} 

/* no results */
.noResults{
  color: red;
}
/*-- github profile --*/
.github-profile{
  background-color: var(--gitHubElementColor);
  border-radius: 10px;
  padding: 42px 24px;

}
.avatarImg{
  height: 72px;
  width: 72px;
  border-radius: 50%;
}
.userLogin{
  color: var(--gitHubOceanBlue);
}
.userFollowerDiv{
  background-color: var(--gitHubBG);
  padding: 16px 16px;
  border-radius: 10px;
}
.userFollowerDiv div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.userLocationLinks li{
  display: flex; 
  justify-content: start;
  align-items: center;
  gap: 10px;

}

.userLocationLinks li a:hover{
  text-decoration: underline;
}
.userLocationLinks li svg{
  width: 24px;
  height: 24px;
}