:root{
  /*-- light mode colors --*/
  --gitHubOceanBlue:#0079ff;
  --gitHubGray:#697c9a;
  --gitHubDarkSky:#4b6a9b;
  --gitHubDarkSlate:#2B3442;
  --gitHubLightBlue:#60abff;
  /*-- dark mode colors --*/
  --gitHubWhite:#ffffff;
  --gitHubBlack:#141d2f;
  --gitHubRoyalBlue:#1e2a47;
}
body{
  color:var(--gitHubWhite);
  font-family: "Space Mono";
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--gitHubBlack);
}
.h1,.h2{
  font-weight: bold;
}
.h3,.h4{
  font-weight: 400;
}
.h1{
  font-size: 26px;
  line-height: 38px;
}
.h2{
  font-size: 22px;
  line-height: 33px;
}
.h3{
  line-height: 24px;
  font-size: 16px;
}
.h4{
  line-height: 20px;
  font-size: 13px;
}
/*-- search button --*/
.searchBtn{
  padding: 0.4rem 1rem;
  background-color: var(--gitHubOceanBlue);
  border-radius: 8px;
  transition: 0.3s;
}
.searchBtn:hover,.searchBtn:active,.searchBtn:focus{
  background-color: var(--gitHubLightBlue);
}
/*-- dark and light mode button --*/
.modeToggle{
  transition: 0.3s;
}
.modeToggle:hover,.modeToggle button svg:hover{
  color: var(--gitHubDarkSky);
}
/*-- search bar --*/
.searchBar{
  background-color: var(--gitHubRoyalBlue);
  border-radius: 10px;
}
.searchInput{
  background-color: var(--gitHubRoyalBlue);
  outline: none;
}
/*-- github profile --*/
.github-profile{
  background-color: var(--gitHubRoyalBlue);
  border-radius: 10px;
  padding: 42px 24px;

}
.avatarImg{
  height: 72px;
  width: 72px;
  border-radius: 50%;
}
.userLogin{
  color: var(--gitHubOceanBlue);
}
.userFollowerDiv{
  background-color: var(--gitHubBlack);
  padding: 16px 16px;
  border-radius: 10px;
}
.userFollowerDiv div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.userLocationLinks li{
  display: flex; 
  justify-content: start;
  align-items: center;
  gap: 10px;

}

.userLocationLinks li a:hover{
  text-decoration: underline;
}
.userLocationLinks li svg{
  width: 24px;
  height: 24px;
}